.card {


    box-shadow: 5px 2px 10px rgba(23, 19, 19, 0.87);
    cursor: pointer;
    width: 200px;
    height: 280px;
    padding: 20px 20px;
    border: solid 1px #fffcfc;
    border-radius: 20px;
    transition: transform 0.1s;
    background-image: url("https://st2.depositphotos.com/38951590/42199/v/450/depositphotos_421993904-stock-illustration-sound-waves-oscillating-dark-blue.jpg");

    padding-bottom: 2px;
    margin: 10px 10px 10px 10px;

}

.mainContainer {
    margin-top: 100px;
    margin-bottom: -95px;
}




.card:hover {
    transform: scale(1.05);
}

.img {

    width: 205px;
    height: 160px;
    border-radius: 20px;
    object-fit: fill;
    margin-top: -10px;

}

.linkTitle {

    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    text-decoration-line: none;
    overflow: hidden;
    letter-spacing: 2px;
}



.linkTitleTypes {
    position: relative;
    right: 5px;
    text-transform: capitalize;
    display: inline-block;
    height: 0px;
    margin-top: 2px;
    letter-spacing:2px;
    text-indent: 18px;
    color: rgb(61, 59, 59);
    font-size: 18px;
   


}
.linkTitle:hover {
    transform: scale(1.2);

}
.attack{
    
    position:relative;
    bottom: 105%;
    left: 70px;
    
    color:rgb(120, 252, 120)
}
